<h1>Danh sách người dùng</h1>
<a href="/users/add" class="btn btn-primary mb-3">Thêm mới</a>
<form action="" class="mb-3">
  <div class="row">
    <div class="col-3">
      <select name="status" class="form-select">
        <option value="all">Tất cả</option>
        <option value="active">Kích hoạt</option>
        <option value="inactive">Chưa kích hoạt</option>
      </select>
    </div>
    <div class="col-7">
      <input
        type="search"
        class="form-control"
        name="keyword"
        placeholder="Từ khóa..."
      />
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-success">Tìm kiếm</button>
    </div>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Email</th>
      <th>Điện thoại</th>
      <th>Trạng thái</th>
      <th>Thời gian</th>
      <th width="5%">Sửa</th>
      <th width="5%">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user, index) => { %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone?.phone %></td>
      <td><%= user.status ? 'Kích hoạt': 'Chưa kích hoạt' %></td>
      <td><%= moment(user.created_at).format('DD/MM/YYYY HH:mm:ss') %></td>
      <td>
        <a href="/users/edit/<%= user.id %>" class="btn btn-warning">Sửa</a>
      </td>
      <td>
        <form
          action="/users/delete/<%= user.id %>"
          method="post"
          onsubmit="return confirm('Bạn có chắc chắn?')"
        >
          <button class="btn btn-danger">Xóa</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<ul class="pagination">
  <% if (page > 1) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= +page-1 %>">Trước</a>
  </li>
  <% } %> <% for( let index = 1; index <= totalPage; index++ ) { %>
  <li class="page-item <%= +index === +page ? 'active': '' %>">
    <a class="page-link" href="?page=<%= index %>"><%= index %></a>
  </li>
  <% } %> <% if (page < totalPage) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= +page+1 %>">Sau</a>
  </li>
  <% } %>
</ul>
